{% extends "base_generic.html" %}
{% load i18n %} 
{% block title %}<title>Local Library HiHi</title>{% endblock %}
{% block content %}
  {% comment %} <h1>{{trans}}<h1> {% endcomment %}
  {% load i18n %}
  <h1>{{trans}}<h1>
  {% comment %} <h1>{% translate "Local Library" %}<h1> {% endcomment %}
  <p>Welcome to Local Library, a website developed by <em>Mozilla Developer Network</em>!</p>
  <h2>Test Image</h2>
<div>
    {% load static %}
    <img src="{% static 'images/co_nha.jpg' %}" alt="My image" width="600px">
</div>
  <h2>Dynamic content</h2>
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Books that contain 'django' :</strong> {{ num_books_contain_django }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
    <li><strong>Genres:</strong> {{ num_genres }}</li>
  </ul>
  <p>
    You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.
  </p>
{% endblock %}
